langchain
langchain_openai 
langchain_core
streamlit
langchain_community
langserve
python-dotenv
fastapi
uvicorn
sse_starlette
pypdf
chromadb
wikipedia
pywin32
fitz
frontend
PyMuPDF
sentence-transformers
huggingface_hub